.hlrs-Function {
    color: #61afef;
}

.hlrs-String {
    color: #98c379;
}

.hlrs-Keyword {
    color: #c678dd;
}

.hlrs-ReturnType,
.hlrs-FnType,
.hlrs-Type {
    color: #e5c07b;
}

.hlrs-Ident {
    color: #e06c75
}

.hlrs-Comment {
    color: #5c6370;
    font-style: italic;
}