.hlrs-Function {
    color: #61afef;
}

.hlrs-LitStr,
.hlrs-String {
    color: #98c379;
}

.hlrs-SelfToken,
.hlrs-Keyword {
    color: #c678dd;
}

.hlrs-Macro,
.hlrs-LitNum {
    color: #d19a66;
}

.hlrs-Segment,
.hlrs-ReturnType,
.hlrs-FnType,
.hlrs-Type {
    color: #e5c07b;
}

.hlrs-Ident {
    color: #e06c75
}

.hlrs-Comment {
    color: #5c6370;
    font-style: italic;
}

.hlrs-LifeTime {
    color: #ffd3fb;
}

.hlrs-Enum {
    color: #56B6C2
}